body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.membership-card {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info {
  margin-top: 20px;
}

.info p {
  margin-bottom: 10px;
}

h1 {
  color: #333;
  font-size: 24px;
}
.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.buttons button:hover {
  background-color: #0056b3;
}

.buttons a button {
  background-color: #dc3545;
}

.buttons a button:hover {
  background-color: #c82333;
}
@media print {
  body * {
    visibility: hidden;
  }
  .membership-card, .membership-card * {
    visibility: visible;
  }
  .membership-card {
    position: absolute;
    left: 0;
    top: 0;
  }
}

