{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display : flex;
    justify-content : center;
    align-items : center;
    min-height : 100vh;
    background : url('backlogin3.jpg') no-repeat;
    font-family:'Alegreya Sans'; 
    background-size: cover; 
    background-position: center;
}
.wrapper{
    width:420px;
    background-color: transparent;
    color:#fff;
    padding: 30px 40px;
    border-radius:10px;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
h1{
    text-align:center; 
    font-size: 35px;
}
.wrapper .input-box{
position:relative;
    width:100%;
    height:50px;
    margin: 30px 0;
}
.input-box input {
    width: calc(98% - 60px);
    height: calc(90% - 40px);
    background-color: transparent;
    border:none;
    outline:none;
        border: 2px solid rgba(255,255,255,.2);
    border-radius:40px; 
    font-size:16px;
    color:#fff;
    padding: 20px 45px 20px 20px;   
} 
.input-box input::placeholder{
    color:#fff;
    padding:5px;
    }
i{
    position:absolute;
    right:20px;
    top:50%;
    font-size:20px;
    transform :translateY(-50%);
}
.button {
    width:100%;
    height:45px;
    background:#C2250F;
    border:none;
    outline:none;
   border-radius:40px; 
    box-shadow: 0 0 10px rgb(0,0,0,.1);
cursor:pointer;
font-size: 16px;
color:white;
font-weight:600;
}
.signLink {
    font-size: 18px;
    text-align:center;
    margin-top:20px;
}
.signLink p a { 
 color:#fff;
 text-decoration:none;
 font-weight:600;
}
.signLink p a:hover { 
 text-decoration:underline;
}
input[type="submit"]:hover {
    background-color: #D85644;
}
/* Add this CSS to your existing stylesheet */
.gender select {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    outline: none; /* Remove default focus outline */
}

/* Style select on hover */
.gender select:hover,
.gender select:focus {
    border-color: #fff;
}
